/* App.css */
body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 전체 화면 가운데 정렬 */
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

.character-display {
    font-size: 10rem;
    transition: transform 0.3s ease;
    text-align: center;
}

.pronunciation {
    font-size: 2rem;
    color: gray;
    text-align: center;
}

/* App.css */

/* 프로그레스 바의 글씨 정렬 */
.progress-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #2D2D2D; /* 적당히 어울리는 색상 */
    font-size: 2rem; /* 글씨 크기 */
    font-weight: bold;
    text-align: center;
}

.set-name {
    display: block;
    padding: 0; /* 공백 제거 */
}

.set-name.active {
    color: #2D9CDB; /* 활성화된 상태의 색상 (히라가나) */
}

.set-name.active:not(.Hiragana) {
    color: #F2994A; /* 활성화된 상태의 색상 (가타카나) */
}

#app-container {
    height: calc(var(--vh, 1vh) * 100); /* 동적 vh 사용 */
    overflow: hidden;
}